* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
  
.navmain_mob {
    display: none;
}

.kep2 {
    display: none;
}

.navmain {
    max-width: 100vw;
    width: 100%;
    min-height: 60px;
    height: 10vh;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imgdiv {
    min-height: 60px;
    height: 10vh;
    min-width: 140px;
    width: 10vw;
}
.navmain img {
    max-height:100%;
}

.navmain li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navmain li ul{
    text-decoration: none;
    color:navajowhite; 
    font-size: 3vh;
}

.navmain li ul a {
    text-decoration: none;
    color:navajowhite; 
    font-size: 3vh;
}

.navmain li ul a:hover {
    font-size: 3.5vh;
    text-decoration: underline;
}

.adiv div {
    height: 10vh;
    display: flex;
    align-items: center;
}
.adiv {
    width: 520px;
    height: 10vh;
}

.navmain button {
    min-height: 50px;
    max-height: 80px;
    height: calc(10vh - 40px);
    min-width: 25vh;
    width: calc(10vw - 40px);
    margin: 10px;
    border-color: navajowhite;
    background-color: transparent;
    color: navajowhite;
    font-size: 3vh;
    text-decoration: none;
    
}

.navmain button a{
    color: navajowhite;
    text-decoration: none;
    
}

.navmain button:hover {
    font-size: 3.5vh;
    background-color:rgba(255, 222, 173, 0.2);
}

.bgmain {
    height: 90vh;
    max-width: 100vw;
    width: 100%;
    background-image: url(01.jpg);
    background-size: cover;
    background-position: center;
}

.rolamart {
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: navajowhite;
}

.rolamart div {
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.rolamart div h2 {
    color: slategray;
}

.szolgdiv {
    padding-top: 3vh;
    background-color: slategray;
    text-align: center;
    font-size: 3vh;
}

.szolgdiv h2 {
    color: navajowhite
}

.szolgflex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
}

.szolgflex div {
    width: 48vw;
    align-self: stretch;
    margin-bottom: 20px;
    border-style: double;
    border-color: navajowhite;
    overflow: hidden;
}

.szolgflex div h3, h5 {
    color: navajowhite;
}

.szolgflex div .inside {
    border-style: none;
    height: fit-content;
}

.elerdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: navajowhite;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.kep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 400px;
    width: 50vw;
}

.mapouter {
    padding-bottom: 20px;
    width: 600px; 
}

.gmap_canvas {
    width: 600px;
}

.eleral {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 600px;
    text-align: center;
    justify-content:  center;
    font-size: 3.5vh;
    
}
.kintrol {
    min-width: 600px;
    min-height: 600px;
    background-image: url(08.jpg);
    background-size: cover;
    align-self: stretch;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 750px, orientation: portrait) {
    .szolgflex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: fit-content;
    }

    .szolgflex div {
        width: 90vw;
        height: fit-content;
        margin-bottom: 20px;
        border-style: double;
        border-color: navajowhite;
    }
}

@media (max-width: 850px, orientation: portrait) {
    .navmain {
        display: none;
    }

    .kep {
        display: none;
    }

    .bgmain {
        height: 100vh;
    }

    .mapouter {
        padding-bottom: 20px;
        width: 90vw;
    }

    .kintrol {
        max-width: 90vw;
    }
    
    .mob_main {
        position: absolute;
        height: 100vh;
	width: 100vw;
        display: flex;
        align-items: center;
    }
    .navmain_mob {
        position: absolute;
        height: 50vh;
        max-width: 100vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .navmain_mob a {
        text-decoration: none;
        color: navajowhite;
        font-size: 7vh;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
    }

    .kep2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 300px;
        width: 90vw;
    }

    .kintrol{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        min-width: 100px;
        min-height: 100px;
        width: 85vw;
        height: 85vw;
        margin: 0;
    }

    .mapouter {
        margin: 0;
    }

    .eleral {
        min-width: 100px;
        max-width: 100vw;
        width: 100%;
    }
}